<h1>Task Timeline</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><%= task.user.name %> completed <%= link_to task.entry.title, task.entry %> (<%= task.entry.date.to_s(:short) %>) <span><%= time_ago_in_words(task.created_at) %> ago</span></li>
  <% end %>
</ul>
